[Desktop Entry]
Name=arch Terminal
Type=Application
Encoding=UTF-8
Comment=CLI Terminal Emulator
X-MultipleArgs=false
Hidden=true
Exec=/bin/bash -c "sh $HOME/Projects/Project/LinuxAppBox/ShellScripts/Guest-Terminal arch" %U
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Terminal=true
GenericName=arch Terminal"
