[Desktop Entry]
Name=Debian AppHub
Type=Application
Encoding=UTF-8
Comment=Add/Remove applications
X-MultipleArgs=false
Hidden=true
Exec=/bin/bash -c "distrobox enter debian -e $HOME/Projects/Project/LinuxAppBox/AppHub/apphub/AppHub-Apt.sh " %U
Icon=software-store
Categories=System;
Terminal=false
GenericName=AppHub"
