[Desktop Entry]
Version=1.0
Name=Linux AppBox
Exec=/bin/bash -c 'python3 $HOME/Projects/Project/LinuxAppBox/linAppGUI.py ' %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=app-launcher
Categories=GNOME;GTK;Application;System;Settings;
StartupNotify=true




