[Desktop Entry]
Name=ubuntu Terminal
Type=Application
Encoding=UTF-8
Comment=CLI Terminal Emulator
X-MultipleArgs=false
Hidden=true
Exec=sh $HOME/Projects/LinuxAppBox/ShellScripts/Guest-Terminal ubuntu %U
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Terminal=true
GenericName=ubuntu Terminal"
